*{
    margin: 0;
    padding: 0;
    background-color: #E6F6FC;
}

#container{
    width: 90%;
    margin: 150px auto;
    padding: 0px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

input{
    display: none;
}


#container>div{
    width: 50%;
    margin: auto;
    padding: auto;
}

#umbrella{
    text-align: center;
}

.image{
    width: 90%;
}

#umbrella>svg {
    margin: auto;
    animation: rotation 2s linear infinite ;
}

@keyframes rotation {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}

.heading{
    font-size: 40px;
    margin: 20px auto;
}

#color-selector{
    display: flex;
    justify-content: start;
}

#blue{
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 10px;
    background-color: #2EB3E5;
}

#pink{
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 10px;
    background-color: rgb(216, 44, 135);
}

#yellow{
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 10px;
    background-color: #FED141;
}

#upload-btn{
    margin-top: 20px;
    width: 200px;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #00A3E0;
    color: white;
}

#upload-btn>div, #upload-btn svg{
    background: transparent;
    fill: white;
}

#color-selector{
    margin: 20px 0px;
    display: flex;
    justify-content: center;
    gap: 25px;
}