*{
    margin: 0;
    padding: 0;
    background-color: #E6F6FC;
}

#container{
    /* border: 1px solid; */
    width: 90%;
    height: 500px;
    margin: 100px auto;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 30px;
}

input{
    display: none;
}


#container>div{
    /* border: 1px solid red; */
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#container>div:last-child{
    align-items: flex-start;
}

#umbrella{
    text-align: center;
}

.image{
    width: 80%;
}

#umbrella>svg {
    margin: auto;
    animation: rotation 2s linear infinite ;
}

@keyframes rotation {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}

.heading{
    font-size: 50px;
    letter-spacing: 2px;
    margin: 20px 0;
}

.sub-heading{
    font-size: 22px;
    letter-spacing: 1px;
    margin: 20px 0px 0px;
}

.text-1{
    font-size: 18px;
    letter-spacing: 1.1px;
    font-weight: 500;
    margin: 1px 0px 10px;
}

#blue{
    width: 20px;
    height: 20px;
    border-radius: 10px;
    background-color: #2EB3E5;
}

#pink{
    width: 20px;
    height: 20px;
    border-radius: 10px;
    background-color: rgb(216, 44, 135);
}

#yellow{
    width: 20px;
    height: 20px;
    border-radius: 10px;
    background-color: #FED141;
}

#upload-btn{
    margin-top: 20px;
    width: 410px;
    padding: 15px 20px;
    border: 1px solid #00A3E0;
    display: flex;
    justify-content: start;
    align-items: center;
    background-color: #00A3E0;
    color: white;
    font-weight: 600;
    font-size: 20px;
}

#upload-btn svg{
    background: transparent;
    fill: white;
    margin-right: 90px;
}

#color-selector{
    margin: 20px 0px;
    display: flex;
    justify-content: start;
    gap: 25px;
}

#color-selector button{
    border: 1px solid white;
}